/* Bingo board necesseties */
.grid,.bingo-item,.crossed {
  background-size: 100% 100%;
}
.bingo-text {
  text-align: center;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.grid {
  margin: 20px; /* Optional: Add some spacing between elements */
}

.collapsible {
  cursor: pointer;
  padding: 8px;
  width: 100%;
  border: none;
  text-align: left;
  background-color: #FACC78;
  border-radius: 10px;
}

.controls-section-container {
  background-color: #FFF6E0;
  padding: 3px;
  border-radius: 10px;
}

input,select,.save {
  border-radius: 5px;
  border-style: solid;
  border-color: #FACC78;
  background-color: white;
  padding: 5px;
}

.style-section {
  /* Required for animation */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #FFF6E0;
  border-radius: 0px 0px 10px 10px;
  margin-bottom: 10px;
}

.collapsible:after {
  content: '+';
  float: right;
}

.active {
  border-radius: 10px 10px 0px 0px;
}

.active:after {
  content: "-";
}

a {
  color: #C64600;
}

h2 {
  font-size: 15pt;
}

.control-container {
  display: block;
  margin: 10px;
}

button.control-container {
  font-size: 12pt;
  border-style: solid;
  border-color: white;
  border-radius: 5px;
  padding: 5px;
}

.reset {
  background-color: #ffbebc;
}
.reset:hover {
  background-color: #ffb1ac;
}
.reset:active {
  background-color: #ff968f;
}
.save {
  background-color: #bef8b7;
}
.save:hover {
  background-color: #acf7a3;
}
.save:active {
  background-color: #84e478;
}

.control {
  display: block;
  margin: 5px;
}

.resp-margin {
  max-width: 700px;
}

.cookie-notice {
  background-color: #ffbebc;
  border-radius: 5px;
  padding: 4px;
}

