.grid {
  /*padding: 5px;*/
  background: pink;
  /*border-radius: 4px;*/
  width: 400px;
  height: 400px;
  /*border: 3px solid purple;*/
  background-size: 100% 100%;
}

.bingo-item {
  background-color: lightcyan;
  background-size: 100% 100%;
}

.crossed {
  background-color: lightcyan;
  background-size: 100% 100%;
}

.bingo-text {
  text-align: center;
}

.style-section-heading {
  cursor: pointer;
  width: 100%;
}

