.grid {
  /*padding: 5px;*/
  background: pink;
  /*border-radius: 4px;*/
  width: 400px;
  height: 400px;
  /*border: 3px solid purple;*/
}

.bingo-item {
  /*border: 3px solid red;*/
  /*border-radius: 5px;*/
  background: lightcyan;
  width: 33.33%;
  height: 33.33%;
}

.bingo-text {
  text-align: center;
}

.crossed {
  background: url("golden-banana.gif"), lightyellow;
  background-size: 100% 100%;
}

