/* General page styling */
body {
  font-family: sans-serif;
  font-size: 12pt;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer p {
  margin: 5px;
}

